.main-content {
  margin-left: 50px; /* Largura da barra lateral */
  padding: 5px;
  flex-grow: 1; /* Permite que o conteúdo principal use o espaço restante */
}

.responsive-img {
  display: block; /* Faz a imagem ser tratada como um bloco */
  margin: 0 auto; /* Centraliza a imagem */
  max-width: 60%; /* Limita a largura da imagem a 150px */
  width: 100%; /* Faz a imagem ocupar 100% da largura do container */
  height: auto; /* Mantém a proporção da imagem */
}
