.welcome {
    /* margin-left: 220px; Ajuste para compensar a sidebar */
    padding: 20px;
    color: #6800b9;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  .welcome h1 {
    font-size: 30px;
  }
  